<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <img v-bind:src="image" v-bind:alt="alt">
      </div>
      <div class="product-info">
        <h1>{{ product }}</h1>
        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory > 0 && inventory < 10">Almost sold out!</p>
        <p v-else>Out of Stock</p>
        <span v-if="onSale">On Sale!</span>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <div>
          <p v-for="variant in variants" :key="variant.variantId">{{ variant.variantColor}}</p>
        </div>
        <button type="button" v-on:click="addToCart">Add to cart</button>
        <div class="cart">
          <p>Cart {{ cart }}</p>
        </div>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>